@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #e9e9e9;
}
:focus-visible {
  outline: 2px dashed #c5ff49;
  outline-offset: 4px;
}

/* Put custom utilities in a layer so @apply works reliably */
@layer utilities {
  .container-tight {
    @apply max-w-6xl mx-auto px-4;
  }
  @screen sm {
    .container-tight {
      @apply px-6;
    }
  }
  @screen lg {
    .container-tight {
      @apply px-8;
    }
  }
}
